
.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .verify-email-button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #5bc0de; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .verify-email-button:hover {
    background-color: #31b0d5; 
  }
  
  .logout-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #c9302c; 
  }
  
  